<main class="kpi-form">
  <div class="kpi-form__header">
    <h2 *ngIf="type === 'ADD'">Add KPI</h2>
    <h2 *ngIf="type === 'EDIT'">Edit KPI</h2>
  </div>
  <form class="kpi-form__section">
    <div class="kpi-form__wrapper kpi-form__common-infor">
      <div class="kpi-form__row">
        <div class="kpi-form__text">Common information</div>
      </div>
      <div class="kpi-form__controls"></div>
    </div>

    <div class="kpi-form__wrapper kpi-form__calculation-formula">
      <div class="kpi-form__row">
        <div class="kpi-form__text">KPI calculation formula</div>
        <button class="kpi-form__button">
          <img
            alt=""
            src="../../../../assets/images/icons/trash.svg"
            class="kpi-form__icon"
          />
          <span>Delete formula</span>
        </button>
      </div>
      <div class="kpi-form__calculation-formula--content">
        <div class="kpi-form__metric-group">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Metric</div>
            <button class="kpi-form__button">
              <img
                alt=""
                src="../../../../assets/images/icons/circle-plus.svg"
                class="kpi-form__icon"
              />
              <span>Delete formula</span>
            </button>
          </div>
          <div class="kpi-form__groups">
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
          </div>
        </div>
        <div class="kpi-form__expression">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Expression</div>
          </div>
          <div class="kpi-form__expression--value">
            <div class="kpi-form__expression--value-inner">
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="kpi-form__actions">
    <button>Cancel</button>
    <button class="disable">Save</button>
  </div>
</main>
