.kpi-form{
    --height-header: calc(24px + 2 * 16px);
    --height-actions: calc(40px + 2 * 16px);
    --height-wrapper: calc(100vh - var(--height-header) - 2 * var(--height-actions) - 24px - 16px);

    padding: 16px;
    background-color: #fff;
    border-radius: 4px;

    &__header{
        margin-bottom: 16px;
        h2{
          font-size: 20px;
          line-height: 24px;
          font-weight: 500;
        }
    }
    &__section{
       display: flex;
       gap: 32px;
    }

    &__wrapper{
        border: 1px solid #ddd;
        border-radius: 6px;
        padding-left: 16px;
        padding-top: 16px;
        margin-bottom: 24px;
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 16px;
        padding-right: 16px;
    }

    &__text{
        color: #111113;
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
    }

    &__button{
        display: flex;
        align-items: center;
        gap : 8px;
        height: 40px;
        padding: 0 16px;
        border-radius: 6px;
        background-color: #dfdfdf;
        cursor: pointer;
        span{
            font-weight: 500;
            color: #111113;
            font-size: 16px;
        }
    }

    &__icon{
        width: 18px;
    }

    &__common-infor{
        width: calc(391px + 2 * 16px);
        padding-bottom: 16px;
    }

    &__controls{
        padding-right: 16px;
        display: flex;
        flex-direction: column;
    }

    &__flexing{
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__calculation-formula{
        flex: 1;

        &--content{
            display: flex;
        }

    }

    &__metric-group{
        height: var(--height-wrapper);
        display: flex;
        flex-direction: column;
        flex: 1;
        border-right: 1px solid #ddd;
        
    }

    &__groups{
        flex: 1;
        overflow-y: auto;
    }

    &__expression{
        padding: 0 16px;
        width: calc(391px + 2 * 16px);
        height: var(--height-wrapper);
        display: flex;
        flex-direction: column;

        &--value{
            overflow-y: auto;
            flex: 1;
            border: 1px solid #ddd;
            border-bottom: none;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        &--value-inner{
            padding: 16px 16px 0 16px;
        }
    }

    &__actions{
        width: calc(100% + 2 * 16px);
        margin-left: -16px;
        border-top: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding-top: 16px;
        button{
           height: 40px;
           background-color: #dfdfdf;
           padding: 0 16px;
           border-radius: 4px;

            &.disable{
               cursor: none;
               opacity: 0.5;
               cursor: not-allowed;
            }
            
        }

        button:not(.disable) {
            cursor: pointer;
        }
    }
}

.char-counter{
    margin-top: 6px;
    width: fit-content;
    margin-left: auto;
    font-size: 12px;
}