<main class="kpi-form">
  <div class="kpi-form__header">
    <h2 *ngIf="type === 'ADD'">Add KPI</h2>
    <h2 *ngIf="type === 'EDIT'">Edit KPI</h2>
  </div>
  <form class="kpi-form__section" [formGroup]="formGroupKPI">
    <div class="kpi-form__wrapper kpi-form__common-infor">
      <div class="kpi-form__row">
        <div class="kpi-form__text">Common information</div>
      </div>
      <div class="kpi-form__controls">
        <!-- Name -->
        <div class="form-control">
          <div class="form-label">
            <label for="name"
              >KPI name
              <span class="form-required">*</span>
            </label>
          </div>
          <div class="form-input">
            <input
              id="name"
              formControlName="name"
              [class.error]="
                formGroupKPI.get('name')?.invalid &&
                (formGroupKPI.get('name')?.dirty ||
                  formGroupKPI.get('name')?.touched)
              "
              placeholder="Enter KPI name"
            />
          </div>
          <div
            class="form-error"
            *ngIf="
              formGroupKPI.get('name')?.invalid &&
              (formGroupKPI.get('name')?.dirty ||
                formGroupKPI.get('name')?.touched)
            "
          >
            <div *ngIf="formGroupKPI.get('name')?.errors?.required">
              This information is required.
            </div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.maxlength">
              Maximum length is 255 characters.
            </div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.whitespace">
              No leading or trailing whitespace allowed.
            </div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.forbiddenCharacter">
              Invalid format.
            </div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.nameExists">
              This name already exists.
            </div>
          </div>
        </div>
        <!-- Type -->
        <div class="form-control">
          <div class="form-label">
            <label for=""
              >KPI type
              <span class="form-required">*</span>
            </label>
          </div>
          <ng-select
            [items]="TYPES_OF_KPI"
            bindLabel="value"
            bindValue="value"
            placeholder="Select type of KPI"
            formControlName="typeKPI"
            (open)="onOpen()"
          >
          </ng-select>
          <div
            class="form-error"
            *ngIf="
              formGroupKPI.get('typeKPI')?.invalid &&
              (formGroupKPI.get('typeKPI')?.dirty ||
                formGroupKPI.get('typeKPI')?.touched)
            "
          >
            <div *ngIf="formGroupKPI.get('typeKPI')?.errors?.required">
              This information is required.
            </div>
          </div>
        </div>
        <!-- Caterory -->
        <div class="form-control">
          <div class="form-label">
            <label for=""
              >Category
              <span class="form-required">*</span>
            </label>
          </div>
          <ng-select
            [items]="CATEGORIES"
            bindLabel="value"
            bindValue="value"
            placeholder="Select category"
            formControlName="category"
            (open)="onOpen()"
          >
          </ng-select>
          <div
            class="form-error"
            *ngIf="
              formGroupKPI.get('category')?.invalid &&
              (formGroupKPI.get('category')?.dirty ||
                formGroupKPI.get('category')?.touched)
            "
          >
            <div *ngIf="formGroupKPI.get('category')?.errors?.required">
              This information is required.
            </div>
          </div>
        </div>
        <!-- Unit -->
        <div class="form-control">
          <div class="form-label">
            <label for=""
              >Unit
              <span class="form-required">*</span>
            </label>
          </div>
          <ng-select
            [items]="UNITS"
            bindLabel="value"
            bindValue="value"
            placeholder="Select unit"
            formControlName="unit"
            (open)="onOpen()"
          >
          </ng-select>
          <div
            class="form-error"
            *ngIf="
              formGroupKPI.get('unit')?.invalid &&
              (formGroupKPI.get('unit')?.dirty ||
                formGroupKPI.get('unit')?.touched)
            "
          >
            <div *ngIf="formGroupKPI.get('unit')?.errors?.required">
              This information is required.
            </div>
          </div>
        </div>
        <!-- Percent value -->
        <div class="form-control">
          <div class="form-checkox">
            <input
              type="checkbox"
              formControlName="percentValue"
              id="percent-value"
            />
            <label for="percent-value">Percent Value</label>
          </div>
        </div>

        <!-- Desc -->
        <div class="form-control">
          <div class="form-label">
            <label for="desciption">Desciption </label>
          </div>
          <div class="form-textarea">
            <textarea
              id="desciption"
              formControlName="description"
              maxlength="255"
              placeholder="Enter description..."
            ></textarea>
          </div>
          <div class="char-counter">{{ charCount }}/255</div>
        </div>
      </div>
    </div>

    <div class="kpi-form__wrapper kpi-form__calculation-formula">
      <div class="kpi-form__row">
        <div class="kpi-form__text">KPI calculation formula</div>
        <button class="kpi-form__button">
          <img
            alt=""
            src="../../../../assets/images/icons/trash.svg"
            class="kpi-form__icon"
          />
          <span>Delete formula</span>
        </button>
      </div>
      <div class="kpi-form__calculation-formula--content">
        <div class="kpi-form__metric-group">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Metric</div>
            <button class="kpi-form__button" (click)="addGroup()">
              <img
                alt=""
                src="../../../../assets/images/icons/circle-plus.svg"
                class="kpi-form__icon"
              />
              <span>Add group metric</span>
            </button>
          </div>
          <form [formGroup]="form" class="kpi-form__groups">
            <div formArrayName="expression">
              <div *ngFor="let group of expression.controls; let i = index" [formGroupName]="i">
               <div *ngIf="i > 0">
                  <label>Group Operator:</label>
                  <select formControlName="groupOperator">
                    <option [value]="null">None</option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="x">x</option>
                    <option value="/">/</option>
                  </select>
               </div>
          
                <div formArrayName="groupItems">
                  <div *ngFor="let item of getGroupItems(i).controls; let j = index" [formGroupName]="j">
                    <label>Item Type:</label>
                    <select formControlName="itemType">
                      <option value="NUMERIC">Numeric Value</option>
                      <option value="KPI">KPI ID</option>
                      <option value="COUNTER">Counter ID</option>
                    </select>
          
                    <!-- Display based on itemType -->
                    <ng-container [ngSwitch]="item.get('itemType')?.value">
                      <!-- Numeric Value -->
                      <div *ngSwitchCase="'NUMERIC'">
                        <label>Item Value:</label>
                        <input formControlName="itemValue" type="number"/>
                      </div>
                      <!-- KPI ID -->
                      <div *ngSwitchCase="'KPI'">
                        <label>KPI ID:</label>
                        <select formControlName="itemId">
                          <option *ngFor="let kpi of kpiOptions" [value]="kpi">{{kpi}}</option>
                        </select>
                      </div>
                      <!-- Counter ID -->
                      <div *ngSwitchCase="'COUNTER'">
                        <label>Counter ID:</label>
                        <select formControlName="itemId">
                          <option *ngFor="let counter of counterOptions" [value]="counter">{{counter}}</option>
                        </select>
                      </div>
                    </ng-container>
          
                   <div *ngIf="j > 0">
                      <label>Item Operator:</label>
                      <select formControlName="itemOperator">
                        <option [value]="null">None</option>
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="x">x</option>
                        <option value="/">/</option>
                      </select>
                   </div>
                    
                    <button type="button" (click)="addItem(i)">Add Item</button>
                  </div>
                </div>
                </div>
                </div>
          </form>
        </div>
        <div class="kpi-form__expression">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Expression</div>
          </div>
          <div class="kpi-form__expression--value">
            <div class="kpi-form__expression--value-inner">
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="kpi-form__actions">
    <button (click)="cancelEditing()">Cancel</button>
    <button class="disable">Save</button>
  </div>
</main>
