<main class="kpi-form">
  <div class="kpi-form__header">
    <h2 *ngIf="type === 'ADD'">Add KPI</h2>
    <h2 *ngIf="type === 'EDIT'">Edit KPI</h2>
  </div>
  <form class="kpi-form__section" [formGroup]="formGroupKPI">
    <div class="kpi-form__wrapper kpi-form__common-infor">
      <div class="kpi-form__row">
        <div class="kpi-form__text">Common information</div>
      </div>
      <div class="kpi-form__controls">
        <div class="form-control">
          <div class="form-label">
            <label for=""
              >KPI name
              <span class="form-required">*</span>
            </label>
          </div>
          <div class="form-input">
            <input formControlName="name" placeholder="Enter KPI name" />
          </div>
          <div class="form-error" *ngIf="formGroupKPI.get('name')?.invalid && (formGroupKPI.get('name')?.dirty || formGroupKPI.get('name')?.touched)">
            <div *ngIf="formGroupKPI.get('name')?.errors?.required">This information is required.</div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.maxlength">Maximum length is 255 characters.</div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.whitespace">No leading or trailing whitespace allowed.</div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.forbiddenCharacter">Invalid format.</div>
            <div *ngIf="formGroupKPI.get('name')?.errors?.nameExists">This name already exists.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="kpi-form__wrapper kpi-form__calculation-formula">
      <div class="kpi-form__row">
        <div class="kpi-form__text">KPI calculation formula</div>
        <button class="kpi-form__button">
          <img
            alt=""
            src="../../../../assets/images/icons/trash.svg"
            class="kpi-form__icon"
          />
          <span>Delete formula</span>
        </button>
      </div>
      <div class="kpi-form__calculation-formula--content">
        <div class="kpi-form__metric-group">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Metric</div>
            <button class="kpi-form__button">
              <img
                alt=""
                src="../../../../assets/images/icons/circle-plus.svg"
                class="kpi-form__icon"
              />
              <span>Add group metric</span>
            </button>
          </div>
          <div class="kpi-form__groups">
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
            <div>Group</div>
          </div>
        </div>
        <div class="kpi-form__expression">
          <div class="kpi-form__row">
            <div class="kpi-form__text">Expression</div>
          </div>
          <div class="kpi-form__expression--value">
            <div class="kpi-form__expression--value-inner">
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
              <p>dfdsfsdf</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="kpi-form__actions">
    <button (click)="cancelEditing()">Cancel</button>
    <button class="disable">Save</button>
  </div>
</main>
