<main style="padding: 24px;">
  <div style="display: flex; justify-content: space-between">
    <h1>List KPI</h1>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 42px;
      "
    >
      <button
        (click)="navigateToAddKPI()"
        style="cursor: pointer; text-decoration: underline"
      >
        Add KPI
      </button>
      <button
        (click)="navigateToEditKPI()"
        style="cursor: pointer; text-decoration: underline"
      >
        Edit KPI (with id = 1)
      </button>
    </div>
  </div>
  
  <!-- <div class="loading">
    <table class="table">
      <thead>
        <tr>
          <th >
            <div class="thead">KPI name</div>
          </th>
          <th>
            <div class="thead">KPI type</div>
          </th>
          <th>
            <div class="thead">Category</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTable " class="tr">
          <td class="td" >
            <div style="position: relative;" [class.loader]="showLoading">
              <div class="text"  appOverflowTooltip>{{data.name}}</div>
              <div class="tooltip">{{data.name}}</div>
            </div>
          </td>
          <td class="td">
            <div [class.loader]="showLoading">{{data.type}}</div>
          </td>
          <td class="td">
            <div  [class.loader]="showLoading">{{data.category}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  <button (click)="toggleLoading()" >Show Loading</button>
  
  <div class="grid-charts">
    <div class="chart">
      <app-line-chart></app-line-chart>
    </div>
    

  </div>
  
  
</main>