<main>
  <div style="display: flex; justify-content: space-between">
    <h2 (click)="callApi()" onkeydown="" style="margin-bottom: 24px;">Dashboard KPI</h2>
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 42px;
      "
    >
      <!-- <button
        (click)="navigateToAddKPI()"
        style="cursor: pointer; text-decoration: underline"
      >
        Add KPI
      </button>
      <button
        (click)="navigateToEditKPI()"
        style="cursor: pointer; text-decoration: underline"
      >
        Edit KPI (with id = 1)
      </button> -->
    </div>
  </div>
  
  <!-- <div class="loading">
    <table class="table">
      <thead>
        <tr>
          <th >
            <div class="thead">KPI name</div>
          </th>
          <th>
            <div class="thead">KPI type</div>
          </th>
          <th>
            <div class="thead">Category</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTable " class="tr">
          <td class="td" >
            <div style="position: relative;" [class.loader]="showLoading">
              <div class="text"  appOverflowTooltip>{{data.name}}</div>
              <div class="tooltip">{{data.name}}</div>
            </div>
          </td>
          <td class="td">
            <div [class.loader]="showLoading">{{data.type}}</div>
          </td>
          <td class="td">
            <div  [class.loader]="showLoading">{{data.category}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  <!-- <button (click)="toggleLoading()" >Show Loading</button> -->
  <div class="statistic">
    <div style="border-top-left-radius: 12px;">
      <h3 style="text-align: center;">Tổng số IMSI lấy được trong 1s (max)</h3>
      <p id="number">0</p>
    </div>
    <div>
      <h3 style="text-align: center;">Tổng số IMEI lấy được trong 1s (max)</h3>
      <p>789</p>
    </div>
    <div style="border-top-right-radius: 12px;">
      <h3 style="text-align: center;">Số IMEI thu thập được / IMSI</h3>
      <p>2323/4570</p>
    </div>
  </div>
  <div class="grid-charts">
    <div class="chart">
      <h3>Số lượng thu thập</h3>
      <app-pie-chart [id]="'pie-chart-1'" [chartData]="catchingData"></app-pie-chart>
    </div>
    <div class="chart">
      <h3>Số lượng dò tìm</h3>
      <app-pie-chart [id]="'pie-chart-2'" [chartData]="locateData"></app-pie-chart>
    </div>
  </div>
  <div class="table-grids">
    <h3>Showing 20/1300 results</h3>
  </div>
</main>