/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";


.legend {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
  
  .legend .legend-item {
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-align: left;
  }
  
  .legend .legend-item .legend-value {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  }
  
  .legend .legend-item .legend-marker {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    flex-shrink: 0;
  }
  
  .legend .legend-item.disabled .legend-marker {
    opacity: 0.5;
    background: #ddd;
  }
  